/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background: #111;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(#5050e0, #141f58);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#6381e2, #141a3d);
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .technologies, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #0c0c6b;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #04043b;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: #157094;
    transition: all 0.3s ease;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #4ec5f5;
}


/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: linear-gradient(100deg,#0c0c6b,#00d0ff);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* inicio */
.home{
    display: flex;
    background: url("../images/bg1.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #157094;
    font-weight: 500;
}

.home .home-content a{
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    margin-top: 2rem;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.home .home-content a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

.home .home-content a span{
    position: absolute;
    display: block;
}

.home .home-content a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}

.home .home-content a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}

.home .home-content a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

.home .home-content a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

/* sobre mi */
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 8px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #157094;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    top: 25px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    padding: 20px 50px;
    position: relative;
    display: block;
    width: 200px;
    
}

.about .about-content .right a span{
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
}

.about .about-content .right a .liquid{
    position: absolute;
    left: 0;
    top: -80px;
    width: 200px;
    height: 200px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: 0.5s;
}

.about .about-content .right a:hover .liquid{
    top: -120px;
}

.about .about-content .right a .liquid::before,
.about .about-content .right a .liquid::after{
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
}

.about .about-content .right a .liquid::before{
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
}

.about .about-content .right a .liquid::after{
    border-radius: 40%;
    background: rgba(20, 20, 20, 0.5);
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        transform: translate(-50%,-75%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-75%) rotate(360deg);
    }
}

/* servicios */
.services, .teams{
    color:#157094;
    background: #111;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}

.container{
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card{
    height: 280px;
    max-width: 350px;
    margin: 0 20px;
    background: white;
    transition: 0.4s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }
  .card:hover{
    height: 470px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  }
  .card .img{
    height: 200px;
    width: 100%;
  }
  .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .card .top-text{
    padding: 5px;
  }
  .card .top-text .name{
    font-size: 25px;
    font-weight: 600;
    color: #202020;
    text-align: center;
  }
  .card .top-text p{
    font-size: 20px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
    text-align: center;
    padding: 3px;
  }
  .card .bottom-text{
    padding: 0 20px 10px 20px;
    margin-top: 5px;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
    font-weight: 600;
  }
  .card:hover .bottom-text{
    opacity: 1;
    visibility: visible;
  }
  .card .bottom-text .text{
    text-align: justify;
  }

  @media screen and (max-width: 978px) {
    .container{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .card{
      max-width: 700px;
      margin: 20px 0;
    }
  }

/* habilidades */
.skills{
    background: #E9E5E2;
}

#SkillBox {
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    width: 95%;
    height: auto;
    margin: 40px auto;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    padding: 10px;
    border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -moz-border-radius:20px;  
}

#SkillBox p{
     font-size: 25px;
     margin-left: 40%;
}

.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}
#Skill-HTML {
    width: 85%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #1a1966;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 85%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 85%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 85%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}#Skill-CSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 80%;
    height: 50px;
    position: absolute;
    background-color: #252052;
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 80%}
}#Skill-Bootstrap {
    animation: Animate-Bootstrap 5s;
    -webkit-animation: Animate-Bootstrap 5s;
    -moz-animation: Animate-Bootstrap 5s;
    -o-animation: Animate-Bootstrap 5s;
    width: 72%;
    height: 50px;
    position: absolute;
    background-color: #283f6b;
}
@keyframes Animate-Bootstrap {
    from {
    width: 10px;
}
to {
    width: 72%}
}@-webkit-keyframes Animate-Bootstrap {
    from {
    width: 10px;
}
to {
    width: 72%}
}@-moz-keyframes Animate-Bootstrap {
    from {
    width: 10px;
}
to {
    width: 72%}
}@-o-keyframes Animate-Bootstrap {
    from {
    width: 10px;
}
to {
    width: 72%}
}#Skill-JS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 61%;
    height: 50px;
    position: absolute;
    background-color: #184097;
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 61%}
}@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 61%}
}@-moz-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 61%}
}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 61%}
}

#Skill-PHP {
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    width: 55%;
    height: 50px;
    position: absolute;
    background-color: #542cc4;
}
@keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 55%}
}@-webkit-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 55%}
}@-moz-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 55%}
}@-o-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 55%}
}#Skill-Mysql {
    animation: Animate-Mysql 4s;
    -webkit-animation: Animate-Mysql 4s;
    -moz-animation: Animate-Mysql 4s;
    -o-animation: Animate-Mysql 4s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #5A69A6;
}
@keyframes Animate-Mysql {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-webkit-keyframes Animate-Mysql {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-moz-keyframes Animate-Mysql {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-Mysql {
    from {
    width: 10px;
}
to {
    width: 40%}
} 

#Skill-SASS {
    animation: Animate-SASS 4s;
    -webkit-animation: Animate-SASS 4s;
    -moz-animation: Animate-SASS 4s;
    -o-animation: Animate-SASS 4s;
    width: 44%;
    height: 50px;
    position: absolute;
    background-color: #4f5b8b;
}
@keyframes Animate-SASS {
    from {
    width: 10px;
}
to {
    width: 44%}
}@-webkit-keyframes Animate-SASS {
    from {
    width: 10px;
}
to {
    width: 44%}
}@-moz-keyframes Animate-SASS {
    from {
    width: 10px;
}
to {
    width: 44%}
}@-o-keyframes Animate-SASS {
    from {
    width: 10px;
}
to {
    width: 44%}
} 

.Skill-Area {
    z-index: 1;
    float: left;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}

/* tecnologias */

.container-skill {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container-skill {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container-skill {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container-skill {
        width: 1170px;
    }
}

.skills-team {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #111;
    text-align: center;
}

.skills-team .text {
    padding-bottom: 20px;
}

.skills-team h2 {
    font-size: 35px;
    color: #00cfe8;
    padding-bottom: 20px;
}

.skills-team h2 span {
    color: #18a3b3;
}

.skills-team .skill-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 60px;
    margin-bottom: 70px;
    margin-top: 60px;
}

.skills-team .skill-card .card-skill{
    padding: 25px;
    text-align: center;
    background-color: #1b1b1b;
    border: 2px solid #00cfe8;
    color: #d4d4d4;
    transition: 1s;
    position: relative;
}

.skills-team .card-skill h4{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
}

.skills-team .card-skill p{
    line-height: 1.7;
    font-size: 16px;
    color: #d4d4d4;
}

.skills-team .card-skill i{
    font-size: 42px;
    padding: 15px;
    width: 75px;
    height: 75px;
    color: #1b1b1b;
    background-color: #00cfe8;
    position: absolute;
    top: calc(-75px / 2);
    transform: rotate(45deg);
    left: 39%;
    transition: 1s;
    border: 1px solid #00cfe8;
}

.skills-team .card-skill:hover{
    background-color: #e0d6d6;
}

.skills-team .card-skill:hover i{
    transform: rotate(0deg);
    background-color: #ebebeb;
}

.skills-team .card-skill:hover h4, .skills-team .card-skill:hover p{
    color: rgb(116, 114, 114);
    transition: 1s;
}

/* contacto */
.container-contact{
    width: 95%;
    margin-top: -180px;
    margin-left: 35px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 10px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container-contact .content-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container-contact .content-contact .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content-contact .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content-contact .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content-contact .left-side .details i{
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;
  }
  .content-contact .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content-contact .left-side .details .text-one,
  .content-contact .left-side .details .text-two{
    font-size: 20px;
    color: #000008;
  }

  .container-contact .content-contact .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content-contact .right-side .topic-text{
    font-size: 25px;
    font-weight: 700;
    color: #3e2093;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button-area button{
    color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: linear-gradient(355deg,#16169c,#166577);
  border: 2px solid #15036e;
  transition: all 0.3s ease;
  }
  .right-side .button-area button:hover{
    color: #15036e;
  background: none;
  }
  
  @media (max-width: 950px) {
    .container-contact{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container-contact .content-contact .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container-contact{
      margin: 40px 0;
      height: 100%;
      margin-top: -180px;
      margin-left: 25px;
      margin-bottom: 20px;
    }
    .container-contact .content-contact{
      flex-direction: column-reverse;
    }
    .container-contact .content-contact .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container-contact .content-contact .left-side::before{
     display: none;
   }
   .container-contact .content-contact .right-side{
     width: 100%;
     margin-left: 0;
   }
  }
/* footer  */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #4ec5f5;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 260px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}